ssh {{inv_dct[hostA_hostname]}}
enable
conf t
int {{hostA_int}}
description tl={{codif}};bw={{bandwidth}};srv={{servicetype}}
encapsulation dotq {{hostA_ltp}}
xconnect {{inv_dct[hostB_hostname]}} vcid {{vcid}}
!
ssh {{inv_dct[hostB_hostname]}}
enable
conf t
int {{hostB_int}}
description tl={{codif}};bw={{bandwidth}};srv={{servicetype}}
encapsulation dotq {{hostB_ltp}}
xconnect {{inv_dct[hostA_hostname]}} vcid {{vcid}}